
<div class="container-small-card">
  <div class="container-small-card-content">
    <div class="small-card-photo">
      <img
        src="https://www.crunchyroll.com/imgsrv/display/thumbnail/1200x675/catalog/crunchyroll/a249096c7812deb8c3c2c907173f3774.jpe"
        alt=""
        height="200px"
      >
    </div>
    <div class="small-card-title">
      <h1>
        <a href="#">Saiu a nova versão do Angular</a>
      </h1>
    </div>
  </div>

  <div class="container-small-card-separator">
    <hr>
  </div>
</div>
